<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Details</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light"
            style="position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 50px;">
            <div class="container-fluid">
                <a href="{% url 'superheroes:index' %}" class="btn btn-primary" role="button">Home</a>
                <a>Superhero<small class="text-muted">Maker</small></a>
                <a href="{% url 'superheroes:create' %}" class="btn btn-primary" role="button">New Hero</a>
            </div>
        </nav>
    </header>
    <div class="row justify-content-center" style="margin-top: 4em; text-align: center;">
        <div class="col-md-6">
            <h2>{{single_hero.name}}</h2>
            <p>Alter Ego: {{single_hero.alter_ego}}</p>
            <p>Primary Ability: {{single_hero.primary_ability}}</p>
            <p>Secondary Ability: {{single_hero.secondary_ability}}</p>
            <p>Catch Phrase: {{single_hero.catch_phrase}}</p>
        </div>
    </div>
    </div>

</body>

</html>